* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.desc-text-overflow {
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}